[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "REDCapSync"]
	path = REDCapSync
	url = https://github.com/thecodingdocs/redcapsync
